.vertical {
    border-left: 6px solid black;
    height: 200px;
    position:absolute;
    left: 50%;
}

#contact{
    background: #F68C20;

   }

#trainings{
    width: 500 px;
    height: 500px;
    background: linear-gradient(
        to right,
    #4A2268 0%,
    #4A2268 50%,
    #33C0C2 50%,
    #33C0C2 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

